.adminPanelContent {
    display: flex;
    flex-direction: row;
    overflow: auto;
    border-radius: 1.5rem;
    width: 95rem;
    height: auto;
    background-color: rgba(255,255,255, 0.9);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.adminPanelNavigation {
    height: 100%;
    width: 18%;
    list-style: none;
    margin: 0 0 0 2%;
    padding: 0 0 0 0;
    border-right: 1px black solid;
}

.adminPanelNavigation li {
    display: flex;
    align-items: center;
    cursor:pointer;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    width: 100%;
    height: 4rem;
}

.adminPanelNavigation li:hover {
    background-color: rgba(220,220,220, 0.5);
}

.adminPanelNavigation li:active {
    background-color: rgba(200,200,200, 0.5);
}

.adminPanelSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 0 0 2%;
    padding: 0 0 0 0;
}

.adminPanelSection h1 {
    color: orange;
    height: 2rem;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
}

.userIdAndEmailPicker {
    width: 50rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userIdAndEmailPicker label {
    font-size: 1.25rem;
    margin: 0 0.5rem 0 0;
}

.userIdAndEmailPicker .idInput, .emailInput {
    margin: 0 2rem 0 0;
    font-size: 1rem;
    height: 1.5rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userIdAndEmailPicker .idInput:focus, .emailInput:focus {
    outline:none;
    border-color: orange;
}

.userIdAndEmailPicker .idInput {
    width: 15rem;
    appearance: textfield;
}

.userIdAndEmailPicker .emailInput {
    width: 30rem;
}

.usersList {
    width: 98%;
    margin-right: 2%;
    border-collapse: collapse;
    border: 1px black solid;
}

.usersList th,
.usersList td {
    border-bottom: 1px solid black;
    text-align: center;
    width: auto;
    padding: 0 1rem 0 1rem;
    height: auto;
    font-size: 0.8rem;
}