.pageContent {
    width: 95rem;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    background-color: rgba(255,255,255, 0.9);
}