.pageContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95rem;
    height: auto;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.resource {
    flex: 0 1 calc(25% - 2rem);
    box-sizing: border-box;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s, box-shadow 0.5s, border-color 0.5s;
}

.resource:hover {
    background-color: hsl(0, 0%, 80%);
    border-color: orange;
}

.resource:active {
    background-color: hsl(0, 0%, 60%);
    border-color: orange;
}

.resourceImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.resourceTitle {
    margin: 1rem 0 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.authors{
    margin: 0;
    font-size: 1rem;
    text-align: center;
    color: gray;
}

/* ResourcePage */

.resourcePageContent {
    display: flex;
    flex-direction: column;
    width: 95rem;
    height: auto;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.resourceData {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
}

.resourceInformation {
    width: 50%;
    height: 100%;
}

.resourceInformation li {
    list-style-type: none;
}

.resourceInformation h2 {
    color: orange;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.resourceInformation p {
    font-size: 1rem;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.resourcePageImage {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.descriptionreservationContainer {
    display: flex;
    border-top: 2px orange solid;
    padding-top: 2%;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.descriptionreservationContainer h1 {
    color: orange;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.descriptionreservationContainer p {
    font-size: 1rem;
}

.descriptionContainer {
    padding-left: 2%;
    height:80%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.reservationButton {
    height: 50%;
    width: 40%;
    border: 2px black solid;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(48, 43, 43);
    background-color: hsl(34, 100%, 50%);
    font-size: 1.5rem;
    font-weight: bold;
}

.reservationButton:hover {
    background-color: hsl(34, 100%, 40%);
}

.reservationButton:active {
    background-color: hsl(34, 100%, 30%);
}
